<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Clinsav - Consultar especialidades</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <a href="#">ajuda</a>
    
    <h1>Consultar especialidades</h1>
    <hr>


    <input type="search" name="input_search" id="input_search">

    <h3>(emoji) Todas as agendas</h3>

    <div>
        <p><strong>Nome:</strong>Nome da especialidade</p>
        <p><strong>Descrição:</strong>xxxxxx</p>

        <button type="submit">Ver detalhes/button>
    </div> 

</body>
</html>