<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Clinsav - Excluir especialidades</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <a href="#">ajuda</a>
    
    <h2>Selecionar especialidades para exclusão</h2>
   

    <hr>
    <input type="search" name="input_search" id="input_search">


    <div>
        <p>Informações recuperadas do bd</p>

        <button type="submit">Excluir</button>
        <button type="submit">Voltar</button>
    </div> 

</body>
</html>