<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Clinsav - Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <h1>Clinsav Base</h1>

    <form action="">
        <input type="number" name="cpf" placeholder="CPF">
        <input type="password" name="password" placeholder="Senha">
        <p>Esqueceu sua senha? <a href="#">Clique aqui</a></p>
        <button>Cadastro</button>
        <button type="submit">Login</button>
    </form>

</body>
</html>