<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Clinsav - Consultar médicos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <a href="#">ajuda</a>
    
    <h1>Nome do médico</h1>
    <p>id 000</p>

    <hr>

    <div>
        <h2>Dados cadastrais</h2>
        <p><strong>CPF:</strong>000.000.000-00</p>
        <p><strong>CRM:</strong>00000000000</p>
        <p><strong>Gênero:</strong>xxxxx</p>
        <p><strong>Mãe:</strong>Nome da mãe</p>
        <p><strong>Pai:</strong>Nome do pai</p>
        <p><strong>Data de nascimento:</strong>dd/mm/aaaa</p>
        <p><strong>UF:</strong>XX</p>
        <p><strong>CEP:</strong>00000-000</p>
        <p><strong>Cidade:</strong>xxxxxxxxxxx</p>
        <p><strong>Bairro:</strong>xxxxxxxxxxx</p>
        <p><strong>Logradouro:</strong>xxxxxxxxxxx</p>
        <p><strong>Rua:</strong>xxxxxxxxxxx</p>
        <p><strong>Nº da casa:</strong>xxx</p>
        <p><strong>Email:</strong>example@email.com</p>
        <p><strong>Telefone principal:</strong>000000000</p>
        <p><strong>Telefone secundário:</strong>00000000000</p>
        <p><strong>Número do convênio:</strong>000000000</p>

        <button type="submit">Alterar</button>
        <button type="submit">Imprimir</button>
        <button type="submit">Excluir</button>
    </div> 

</body>
</html>