<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Clinsav - Selecionar pacientes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <a href="#">ajuda</a>
    
    <h1>Selecionar dados de pacientes para impressão</h1>
    <p>Aplique filtros para facilitar a visualização.</p>

    <hr>

    <h2>Selecione um filtro para realizar uma busca:</h2>
    <input type="checkbox" name="ipt_check_id" id="ipt_check_id" value="ipt_check_id">
    <label for="ipt_check_id">Código id</label>
    <input type="checkbox" name="ipt_check_cpf" id="ipt_check_cpf" value="ipt_check_cpf">
    <label for="ipt_check_cpf">CPF</label>
    <input type="checkbox" name="ipt_check_name" id="ipt_check_name" value="ipt_check_name">
    <label for="ipt_check_date">Nome</label>
    <input type="checkbox" name="ipt_check_age" id="ipt_check_age" value="ipt_check_age">
    <label for="ipt_check_hour">Idade</label>
    <input type="checkbox" name="ipt_check_gender" id="ipt_check_gender" value="ipt_check_gender">
    <label for="ipt_check_specialty">Gênero</label>

    <input type="search" name="input_search" id="input_search">

    <div>
        <p>Informações recuperadas do bd</p>

        <button type="submit">Imprimir</button>
        <button type="submit">Voltar</button>
    </div> 

</body>
</html>