.grid-container{
    display: grid;  
    grid-template-columns: 300px auto;
    grid-template-rows: 119px 80px auto;
    grid-template-areas:
    "nav title"
    "nav info"
    "nav body";
}

.navbar{
    grid-area: nav;
}

.title{
    grid-area: title;
    border-bottom: 1px solid #8A9EBA;
    padding: 20px 50px;
    margin-right: 20px;
}

.info{
    grid-area: info;
    position: relative;
}

.body{
    grid-area: body;
    position: relative;
}

body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.h1-title{
    font-weight: normal;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #8A9EBA;   
}

.help{
    color: #8A9EBA;
    float: right;
}

.text-info{
    font-size: 16px;
    color: #8A9EBA;
    padding: 30px 50px;
}
