.grid-container{
    display: grid;  
    grid-template-columns: 300px auto auto;
    grid-template-rows: 119px 150px auto auto;
    grid-template-areas:
    "nav title title"
    "nav info info"
    "nav bodyl bodyr"
    "nav footer footer";
}

.navbar{
    grid-area: nav;
    display:block;
}

.title{
    grid-area: title;
    border-bottom: 1px solid #8A9EBA;
    padding: 20px;
    margin-right: 20px;
}

.info{
    grid-area: info;
    position: relative;
}

.bodyl{
    grid-area: bodyl;
    position: relative;
}

.bodyr{
    grid-area: bodyr;
    position: relative;
}

.footer{
    grid-area: footer;
    margin: auto;   
}

body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.h1-title{
    font-weight: normal;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #8A9EBA;   
}

.help{
    color: #8A9EBA;
    float: right;
}

.text-info{
    font-size: 16px;
    color: #8A9EBA;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
}