/*------------------------------------------------------------*
                                                              *
Contém os estilos das páginas que terminam em: create.php     *
* Informativo no topo da tela                                 *
* Formulários                                                 *
                                                              *
------------------------------------------------------------- */

/* Informativo no topo da tela */
.text-info{
    font-size: 16px;
    color:#A6A6A6; 
    padding: 30px 50px;
}

.div-success, .div-fail{
    height: 60px;
    width: 300px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

.div-success{
    background-color: #ADBD5E;
}

.div-fail{
    background-color: #BD574D;
}

/* Formulário */
form{
    padding: 0px 50px 20px 50px;
}

.single-input{
    position: relative;
    width: 80%;
    padding-top: 30px;
}

label{
    color: #8A9EBA;
}

input::placeholder{
    color: #A6A6A6;
    font-size: 13px;
}

.input{
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #8A9EBA;
    outline: 0;
    color:#A6A6A6;
}

.input:focus{
    outline: none;
    border-bottom: 2px solid #8A9EBA;
}

select{
    color: #8A9EBA;
    font-size: 15px;
    border: 0;
    border-bottom: 1px solid #8A9EBA;
    outline: none;
    width: 100%;
    padding: 15px 5px 5px 0px;
}

select:invalid{
    color: #8A9EBA;
}

