.div-contents{
    padding: 50px;
}

.div-check{
    display: block;
    padding-top: 10px;
}

.div-header{
    color: #8A9EBA;
    font-weight: bold;
    border-radius: 25px;
    padding: 50px;
}

.bold{
    font-weight: bold;
}