body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.h1-title{
    font-weight: normal;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #8A9EBA;   
}

.help{
    color: #8A9EBA;
    float: right;
}

.div-search{
    padding-left: 50px;
    position: relative;
    width: 250px;
    height: 100px;
}

.ipt_search{
    border: 0;
    border-bottom: 1px solid #8A9EBA;
    outline: 0;
    color:#A6A6A6; 
    position: absolute;
    margin-top: 30px;
    padding-bottom: 5px;
    width: 180px;   
}

#icon-search{
    color: #8a9eba;
    font-size: 20px;
    display: inline;
    margin-top: 26px;
    float:right;
}

/* delete_select */
button{
    padding: 7px 20px;
    border-radius: 5px;
    border:1px solid #8A9EBA;
    background-color: #8A9EBA;
    color:#fff;
    margin-top: 40px;
}

.div-consult{
    margin-bottom: 40px;
}

.div-button{
    margin-top: 40px;
}

.button{
    padding: 7px 20px;
    border-radius: 5px;
    background-color: #8A9EBA;
    color:#fff;
    text-decoration: none;
    width: 100px;
    height: 50px;
}

.ipt-button{
    border-radius: 5px;
    background-color: #8A9EBA;
    color:#fff;
    text-decoration: none;
    width: 90px;
    height: 31px;
    border: 0;
}