/*------------------------------------------------------------*
                                                              *
Contém os estilos das páginas que terminam em: consult.php    *
* subtítulo                                                   *
* Tabela e informações                                        *
                                                              *
------------------------------------------------------------- */

/* subtítulo */
.div-header{
    color: #8A9EBA;
    font-weight: bold;
    border-radius: 25px;
    padding: 20px 50px;
}

/*
Exibir informações consultadas:
Formatação da tabela
 */
.table{
    border-spacing: 0 10px;
    margin-left: 50px;
    width: 80%;
}

.line{
    height: 100px;
}

.col1{
    border-radius: 10px 0px 0px 10px;
    background-color: #E5E8EA;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #8A9EBA;
}

.col2, .col3{
    background-color: #F0F3F6; 
    padding-left: 60px;
}

.col2{
    background-color: #F0F3F6;
}

.col3{
    border-radius: 0px 10px 10px 0px;
    background-color: #F0F3F6;
    text-align: center;
    vertical-align: middle;
}

/*
Exibir informações consultadas:
conteúdo dentro da tabela
 */
.span-bold{
    font-weight: bold;
    color: #8A9EBA;
}

.more{
    margin-top: 10px;
    border: 0;
    text-decoration: none;
    color: #8A9EBA;
    font-size: 14px;
}

/* Exibir mais */
.div-contents{
    padding: 30px 0 0 50px;
}

p{
    line-height: 25px;
}

.list-doctor{
    text-indent: 20px;
}