<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Clinsav - Redefinir</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <h3>(emoji)Somente administradores podem incluir novos usuários</h3>
    <p>Entre com seu perfil de administrador para cadastrar um novo usuário</p>

    <form action="">
        <input type="text" name="name_user" placeholder="Nome Completo">
        <input type="text" name="occupation" placeholder="CPF">
        <input type="password" name="password" placeholder="Senha">
        <input type="password" name="password2" placeholder="Confirme a senha">
        <p>Esqueceu sua senha? <a href="#">Clique aqui</a></p>
        <button>Voltar</button>
        <button type="submit">Confirmar</button>
    </form>

</body>
</html>